@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-theme-light {
  --swal-background: #ffffff;
  --swal-title-color: #333333;
  --swal-text-color: #555555;
  --swal-icon-color: #3085d6; /* Example for info */
  --swal-confirm-button-bg: #3085d6;
  --swal-confirm-button-color: #ffffff;
  --swal-cancel-button-bg: #aaaaaa;
  --swal-cancel-button-color: #ffffff;
}

/* Dark theme */
.swal-theme-dark {
  --swal-background: #1e293b;
  --swal-title-color: #f1f5f9;
  --swal-text-color: #94a3b8;
  --swal-icon-color: #3b82f6;
  --swal-confirm-button-bg: #3b82f6;
  --swal-confirm-button-color: #ffffff;
  --swal-cancel-button-bg: #64748b;
  --swal-cancel-button-color: #ffffff;
}

/* Apply the custom variables */
.swal2-popup {
  background: var(--swal-background) !important;
  color: var(--swal-text-color) !important;
}

.swal2-title {
  color: var(--swal-title-color) !important;
}

.swal2-confirm {
  background-color: var(--swal-confirm-button-bg) !important;
  color: var(--swal-confirm-button-color) !important;
}

.swal2-cancel {
  background-color: var(--swal-cancel-button-bg) !important;
  color: var(--swal-cancel-button-color) !important;
}

.input-letter-spacing {
  letter-spacing: 0.3em; 
  padding: 0.3em 0.6em
}
